/* Set toolkit.legacyUserProfileCustomizations.stylesheets to true */
/* Auto-hide: https://www.reddit.com/r/FirefoxCSS/comments/emjqx2/autohide_tree_style_tabs/ */
/* SideBery Auto-hide: https://gist.github.com/BrianGilbert/1ad7e3931406f485a86a35aefb0aa1b1 */
/* Hover stopped working in Firefox 133: https://www.reddit.com/r/FirefoxCSS/comments/1h51hvt/expand_tabcenter_reborn_vertical_tabs_on_hover_in/

/* SideBery style */
/*
 * Container colored indicator on the left.
 */
/*
#root .Tab[data-pin="false"] .ctx {
  right: auto;
  left: 0;
  top: 0;
  height: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
*/


:root {
  --thin-tab-width: 225px;
  --wide-tab-width: 400px;
  --transition-duration: 200ms;
  --transition-smoothing-function: ease-in-out;
}

/* Hide horizontal tabs at the top of the window */
#tabbrowser-tabs {
  visibility: collapse !important;
}

/* Hide splitter, when using SideBery. */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] + #sidebar-splitter {
  display: none !important;
}

/* Hide sidebar header, when using SideBery. */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
  visibility: collapse;
}

/* Extend sidebar normally, when not using SideBery. */
#sidebar-box:not([sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]) {
  min-width: var(--wide-tab-width) !important;
  max-width: none !important;
}

/* Shrink sidebar, when using SideBery. */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;

  overflow: hidden !important;
  position: relative !important;
  border-right: 1px solid black !important;

  /* Margin zero, instead of auto, suppresses jittering. */
  margin-left: 0;
  margin-right: 0;

  /* Set explicit z-index, to enable sidebar displaying over app content. */
  z-index: 3 !important;

  /* Fix for sidebar closing on tab drop. */
  transition: all var(--transition-duration) var(--transition-smoothing-function) !important;
}

/* Extend sidebar on hover, when using SideBery. */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar {
  min-width: var(--wide-tab-width) !important;
  max-width: var(--wide-tab-width) !important;

  border-right: 1px solid black !important;
  z-index: 3 !important;

  /* Correct right-margin to keep page from being pushed to the side. */
  margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
  margin-left: 0 !important;

  /* Fix for sidebar closing on tab drop. */
  transition: all var(--transition-duration) var(--transition-smoothing-function) !important;
}

/* Get rid of tooltips, see https://bugzilla.mozilla.org/show_bug.cgi?id=1569439#c7 */
/* #remoteBrowserTooltip { display: none !important; } */
